*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.header-section {
    background-image: url('img/banner-1.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero {
    color: white;
    font-size: 80px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 30px;
}
.hero-1 {
    color: white;
    font-size: 60px;
    font-family: sans-serif;
    margin-left: 30px;
}
.button {
    background-color: #fff !important;
   font-size: 35px !important;
   margin-left: 30px !important;
   transition: transform 0.5s ease !important;
}
.button:hover {
    background-color: green !important;
    color: white !important;
    transform: translate(3px);
}
/* hero section */

@media screen and (max-width: 1133px) {
    .hero{
        font-size: 60px;
        margin-left: 30px;
    }  
}

@media screen and (max-width: 951px) {
    .hero{
        font-size: 50px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 763px) {
    .hero{
        font-size: 40px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 659px) {
    .hero{
        font-size: 35px;
        margin-left: 30px;
    }
}
@media screen and (max-width: 561px) {
    .hero{
        font-size: 30px;
        margin-left: 30px;
    }
}
@media screen and (max-width: 475px) {
    .hero{
        font-size: 25px;
        margin-left: 30px;
    }
}
@media screen and (max-width: 383px) {
    .hero{
        font-size: 20px;
        margin-left: 30px;
    }
}
@media screen and (max-width: 339px) {
    .hero{
        font-size: 20px;
        margin-left: 30px;
    }
}

/* hero section-1 */
@media screen and (max-width: 1133px) {
    .hero-1{
        font-size: 50px;
    
    }
}

@media screen and (max-width: 951px) {
    .hero-1{
        font-size: 40px;
    
    }
}

@media screen and (max-width: 763px) {
    .hero-1{
        font-size: 35px;
        
    }
}
@media screen and (max-width: 659px) {
    .hero-1{
        font-size: 30px;
        
    }
}
@media screen and (max-width: 561px) {
    .hero-1{
        font-size: 25px;
        
    }
}
@media screen and (max-width: 475px) {
    .hero-1{
        font-size: 20px;
        
    }
}
@media screen and (max-width: 383px) {
    .hero-1{
        font-size: 18px;
        
    }
}
@media screen and (max-width: 339px) {
    .hero-1{
        font-size: 17px;
        
    }
}


/* button responsive */

@media screen and (max-width: 1133px) {
    .button{
        font-size: 25px !important;
        margin-left: 30px !important;
    
    }
}

@media screen and (max-width: 951px) {
    .button{
        font-size: 25px !important;
        margin-left: 30px !important;
    
    }
}

@media screen and (max-width: 763px) {
    .button{
        font-size: 20px !important;
        margin-left: 30px !important;
    
    }
}
@media screen and (max-width: 763px) {
    .button{
        font-size: 20px !important;
        margin-left: 30px !important;
    
    }
}
@media screen and (max-width: 763px) {
    .button{
        font-size: 20px !important;
        margin-left: 30px !important;
    
    }
}
@media screen and (max-width: 659px) {
    .button{
        font-size: 20px !important;
        margin-left: 30px !important;
    
    }
}
@media screen and (max-width: 561px) {
    .button{
        font-size: 20px !important;
        margin-left: 30px !important;
    
    }
}
@media screen and (max-width: 475px) {
    .button{
        font-size: 15px !important;
        margin-left: 30px !important;
    
    }
}
@media screen and (max-width: 383px) {
    .button{
        font-size: 15px !important;
        margin-left: 30px !important;
    
    }
}
@media screen and (max-width: 339px) {
    .button{
        font-size: 15px !important;
        margin-left: 30px !important;
    
    }
}
.button-1 {
    background-color: green !important;
    color: white !important;
    font-size: 20px !important;
    transition: 0.5s ease !important;
    font-weight: bold !important;
    border-radius: 50px !important;
    transition: transfrom 0.5 ease;
    margin: 20px !important;
}
.button-1:hover {
    color: black !important;
    background-color: #E6E1CB !important;
    transform: translate(5px);
}
.why {
    text-align: center;
}
.Product-card {
    margin: 8px;
    border-radius: 15px;
    background-color: #85C13D;
    box-shadow: -10px 10px 10px gray;
    transition: transform 0.5s ease;
}
.Product-card:hover {
    transform: translate(-10px);
}
.cheakout h2 {
    text-align: center;
}
.cheakout-section {
    padding: 60px 0;
}
.cheakout-section h2 {
    font-weight: 500;
}
.cheakout-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 30px;
    background-color:#85C13D;
    box-shadow: -10px 13px 19px 14px hwb(103 3% 33% / 0.75);
-webkit-box-shadow: -10px 13px 19px 14px  hwb(103 3% 33% / 0.75);
-moz-box-shadow: -10px 13px 19px 14px hwb(103 3% 33% / 0.75);
}
input::placeholder,
textarea::placeholder {
    color: green;
    font-size: 14px;
    font-style: italic;
}
.footer {
    padding: 60px 0;
    background-color: rgb(33, 30, 30);
    color: white;
}
.footer-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    width: 150px;
    height: 60px;
}
.social-icons a {
    color: white;
}
.icon:hover {
    color: #0863F7;
}
.icon-2:hover {
    color: red;
}
.icon-3:hover {
    color: black;
}
.icon-4:hover {
    color: #0073B2;
}